{{!< default}}
{{> header}}
<div class="wrapper">
<main class="main" role="main">
	{{#post}}
		<article class="inside post">
			<div class="post-content">
				<h1 class="post-title">{{title}}</h1>
				{{content}}


				{{#if tags}}
				<div class="post-tags">
					Tags: {{tags separator=" | "}}
				</div>
				{{/if}}

			    <div class="post-share">
			    	<a class="share" target="_blank" href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}">Tweet this <i class="fa fa-twitter"></i></a>
			    	<a class="share" target="_blank" href="http://www.facebook.com/sharer.php?u={{url absolute="true"}}">Share this on <i class="fa fa-facebook"></i></a>
			    	<a class="share" target="_blank" href="https://plus.google.com/share?url={{url absolute="true"}}">Share this on <i class="fa fa-google-plus"></i></a>
			    </div>
			</div>

	        {{#if author}}
	        	<footer class="post-footer">
	        		<div class="author-image">
	        			{{#if author.image}}
	        				<div class="author-image"><img src="{{author.image}}" /></div>
				        {{/if}}
				    </div>
				    <div class="author-info"> 
				        <h4 class="author-name"><span>{{author.name}}</span></h4>
	        
				        {{#if author.website}}
				        	<div class="author-url"><a href="{{author.website}}">{{author.website}}</a></div>
				        {{/if}}

				        <p>{{author.bio}}</p>
			        </div>
		        </footer>
	        {{/if}}

		<div class="post-comments">
		<div id="disqus_thread"></div>
		<script type="text/javascript">
		    var disqus_shortname = 'example'; // required: replace example with your forum shortname
		    var disqus_identifier = '{{post.id}}'; // make sure to use the post.id as an identifier, otherwise disqus will use the pages url per default, which might be problematic...
		 
		    /* * * DON'T EDIT BELOW THIS LINE * * */
		    (function() {
		        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		    })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
		</div>
		</article>
	{{/post}}

	{{#if pagination}}
		<div class="pagination">
			{{{pagination}}}
		</div>
	{{/if}}
</main>
</div>
{{> footer}}